nav {
  background-color: rgba(11, 97, 112, 0.8392156863);
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-content: center;
  min-height: 30px;
}
nav h1 {
  padding-top: 5px;
  color: white;
  font-weight: bold;
}

.configs {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}
.configs .checkbox-wrapper-22, .configs .checkbox-wrapper-30 {
  margin: 0 10px 0 10px;
}

.restaurantJuntada {
  display: flex;
}

.inputContainer {
  background-color: rgba(221, 221, 221, 0.536);
  border-radius: 20px;
  padding: 20px;
  min-height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.restaurantContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: end;
}
.restaurantContainer h2 {
  color: #252525;
}
.restaurantContainer div {
  margin-right: 10px;
}

.resultContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: left;
  margin-top: 15px;
}
.resultContainer h2, .resultContainer h3 {
  color: #252525;
  margin: 0px;
}

#restaurantNumbers, #finalNumbers, #finalParticipants, #finalResult {
  width: 100%;
  padding: 5px 7px;
  background-color: rgba(221, 221, 221, 0.4901960784);
  margin-bottom: 5px;
  border-radius: 5px;
}

#modePresentation {
  width: 100%;
}
#modePresentation h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.rowContainer {
  width: 100%;
  padding: 0 10px 0 10px;
}
.rowContainer h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.rowContainer h3 {
  text-align: center;
}

.participantsDescription {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.participantsDescription h3 {
  min-width: 70px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #252525;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #393e3e, #393e3e);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #393e3e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* demo */
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #f7f7f7;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#finalParticipants,
#finalResult {
  width: 100%;
}
#finalParticipants li,
#finalParticipants h3,
#finalResult li,
#finalResult h3 {
  color: #252525;
}

.chargeParticipants {
  display: flex;
  flex-direction: row;
}
.chargeParticipants div {
  margin-right: 10px;
}

.interface {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.interface button {
  margin: 0 10px;
}

.noErrorDinero {
  color: rgb(33, 151, 0);
}

#errorDinero, .errorDinero {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f7f7f7;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonContainer button {
  margin-top: 15px;
  max-width: 300px;
  min-width: 150px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  max-width: 20px;
  max-height: 30px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.textContainer {
  justify-content: space-between;
  display: flex;
  justify-content: center;
}
.textContainer .form__group {
  max-width: 300px;
  margin: 0 10px;
}

.button1 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #7e7e7e;
}

.button2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #159494;
}

.button3 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #C69E38;
}

.button4 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #C69E38;
  padding: 0px;
}
.button4 img {
  max-width: 20px;
  max-height: 20px;
  margin: 10px;
}

.button5 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #bf2d2b;
  padding: 0px;
}
.button5 img {
  max-width: 20px;
  max-height: 20px;
  margin: 10px;
}

.previousContainer {
  width: 80%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button6 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #0B6170;
  width: 50px;
  height: 40px;
  padding: 0px;
}
.button6 img {
  max-width: 20px;
  max-height: 20px;
  margin: 0px;
}

.navModal {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: left;
}
.navModal span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: ce;
  margin-right: 15px;
}
.navModal h2 {
  margin: 0px;
}

.splitContainer {
  background-color: #e9e9e9;
  border-radius: 5px;
  margin-top: 10px;
}

.split {
  background-color: #e7e7e7;
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
  margin: 5px 0;
  box-shadow: none;
  border-color: #e7e7e7;
}
.split h3 {
  margin: 3 px 0;
}

.checkbox-wrapper-30 .checkbox {
  --bg: #fff;
  --brdr: #d1d6ee;
  --brdr-actv: #1e2235;
  --brdr-hovr: #bbc1e1;
  --dur: calc((var(--size, 2)/2) * 0.6s);
  display: inline-block;
  width: calc(var(--size, 1) * 22px);
  position: relative;
}

.checkbox-wrapper-30 .checkbox:after {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
}

.checkbox-wrapper-30 .checkbox > * {
  position: absolute;
}

.checkbox-wrapper-30 .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: calc(var(--size, 1) * 4px);
  border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
}

.checkbox-wrapper-30 .checkbox input:hover,
.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdr: calc(var(--size, 1) * 2);
}

.checkbox-wrapper-30 .checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
}

.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdrClr: var(--brdr-actv);
  transition-delay: calc(var(--dur) / 1.3);
}

.checkbox-wrapper-30 .checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
}

.checkbox-wrapper-30 .checkbox svg {
  fill: none;
  left: 0;
  pointer-events: none;
  stroke: var(--stroke, var(--border-active));
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}

.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
