$primary: #393e3e;
$secondary: #393e3e;
$black: #252525;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

/* reset input */
.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* demo */
body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #f7f7f7;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.white {
  li {
    color: #252525;
  }

  h3 {
    color: #252525;
  }
}

#finalParticipants,
#finalResult {
  width: 100%;

  li,
  h3 {
    color: #252525;
  }
}

#finalResult {
  h3 {
    color: #252525;
  }
}


.startContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  div {
    margin-right: 10px;
  }
}

.chargeParticipants {
  display: flex;
  flex-direction: row;

  div {
    margin-right: 10px;
  }
}

.interface {
  margin-top: 50px;
  display: flex;

  button {
    margin-right: 20px;
  }
}

.rowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: left;
  margin-top: 15px;
}

.participantsDescription {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 15px 0 30px 0;

  h3 {
    text-align: center;
    min-width: 150px;
    max-width: 160px;
    margin-right: 150px;
    color: #252525;
    margin: 0px;
  }
}

.ResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: left;
  margin-top: 15px;

  h2,
  h3,
  li {

    padding-right: 150px;
    color: #fff;
    margin: 0px;
  }
}

// .gradient-font {
//   background: #ea90ff;
//   background: -webkit-gradient(linear,left top,right top,from(#ea90ff),to(#eaff6a));
//   background: linear-gradient(to right,#ea90ff 0,#eaff6a 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
  background-color: #f7f7f7;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  max-width: 20px;
  max-height: 30px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.textContainer {
  margin-left: 15px;
  display: flex;
  justify-content: left;

  .form__group {
    max-width: 300px;
    margin: 0 15px 0 15px;
  }
}






$color_1: #f0f0f0;

@mixin button {
  all: unset;
  max-width: 120px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: $color_1;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
  }

  &:hover {
    &::before {
      transform: translate(5%, 20%);
      width: 110%;
      height: 110%;
    }

    &::after {
      border-radius: 10px;
      transform: translate(0, 0);
      width: 100%;
      height: 100%;
    }
  }

  &:active {
    &::after {
      transition: 0s;
      transform: translate(0, 5%);
    }
  }
}

.button1 {
  @include button();

  &::after {
    background: #ffffff15;
  }

  &::before {
    background: #68921fa6;
  }
}

.button2 {
  @include button();

  &::after {
    background: #ffffff15;
  }

  &::before {
    background: #928311;
  }
}

.button3 {
  @include button();

  &::after {
    background: #ffffff15;
  }

  &::before {
    background: #851a1a;
  }
}

.button4 {
  @include button();

  &::after {
    background: #ffffff15;
  }

  &::before {
    background: #1a909f;
  }
}





.button-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #de5858;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 25px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 40px;
  max-height: 40px;
  img {
    max-width: 30px;
    max-height: 30px;
    margin: 0px;
    margin: 10px;
  }
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

